.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
}

.fade-modal-enter {
    transform: translateY(+100vh);
    opacity:  1;
}

.fade-modal-enter-active {
animation: slidein 1s ease-in-out forwards;
}

.fade-modal-exit {
    transform:  translateY(+50vh);
    opacity: 0;
}

.fade-modal-exit-active {

    transform:  translateY(+100vh);
    opacity: 0;
}

@keyframes slidein {
    from {
        transform: translateY(+100vh);
    }

    to {
        transform: translateY(0);
    }
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
