.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: inset -1px -3px #c9c9c9;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.Input {
    display: block;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}
